/* En-tête de navigation */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--couleur-principale);
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
}

.navbar > img {
  width: 65px;
  height: 65px;
  margin-left: 42px;
}

.navbar > div:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin-left: 56px;
}

.navbar > div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  margin-left: auto;
  margin-right: 42px;
}

.navbar > div:last-of-type > a {
  width: 150px;
  height: 50px;
  background-color: #d73324;
  border-radius: 28px;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Lien de navigation */
.navbar a,
.navbar svg {
  text-decoration: none;
  cursor: pointer;
}

.navbar a:visited {
  color: #fff;
}
